.event-details-page {
  padding: 20px;
}

.event-details-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.event-details-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.event-details-info {
  text-align: left;
  margin-top: 20px;
}

.event-details-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.event-details-info p {
  margin: 5px 0;
  color: #555;
}

.register-button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #333;
}
