.search-bar {
    width: 30%;
    padding: 2px;
    border: 1px solid #828282;
    border-radius: 8px;
  }
  
  .search-bar input {
    font-family: Inter;
    padding: 10px;
    font-size: 15px;
    border: none;
  }

  .search-icon{
    margin-left: 10px;
    padding-top: 1px;
    margin-right: 5px;
  }
  